@model OrionHosting.Models.Entity.TBLDOMAIN
@{
    ViewBag.Title = "domainUptade";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
</html>
<body>
   
    @using (Html.BeginForm("domainU", "Default", FormMethod.Post))
    {
    <div class="container">
        <br />
        <div class="col-sm-5"><h3>Hosting Güncelleme</h3></div>
        <form class="form-group ">
            <div class="col-sm-3 ">


                @Html.HiddenFor(m => m.domainID, new { @class = "form-control text-danger" })

                <label>Domain Adı:</label>
                @Html.TextBoxFor(m => m.domainNAME, new { @class = "form-control text-danger" })

                <label>Domain Başlangıç Tarihi:</label>

                @Html.TextBoxFor(m => m.domainDBS, "{0:yyyy-MM-dd}", new { @class = "form-control text-danger", @type = "date" })
                @Html.ValidationMessageFor(model => model.domainDBS)

                <label>Domain Bitiş Tarihi:</label>
                @Html.TextBoxFor(m => m.domainDBT, "{0:yyyy-MM-dd}", new { @class = "form-control text-danger", @type = "date" })

                <label>Müşteri</label>
                @Html.TextBoxFor(m => m.domainCUSTOMER, new { @class = "form-control  text-danger" })

                <label>Panel ve FTP Bilgileri:</label>
                @Html.TextBoxFor(m => m.domainDETAIL, new { @class = "form-control  text-danger" })

                <label>Hosting Başlangıç Tarihi:</label>
                @Html.TextBoxFor(m => m.domainHBS, "{0:yyyy-MM-dd}", new { @class = "form-control  text-danger", @type = "date" })

                <label>Hosting Bitiş Tarihi:</label>
                @Html.TextBoxFor(m => m.domainHBT, "{0:yyyy-MM-dd}", new { @class = "form-control  text-danger", @type = "date" })

                <label>Bayi:</label>
                @Html.TextBoxFor(m => m.domainSELLER, new { @class = "form-control  text-danger" })
            </div>
            <div class="col-sm-5 ">
                <button class="btn btn-warning" style="width:235px">DOMAİN GÜNCELLE</button>
                </div>

        </form>
      
       
    </div>
       

    }
</body>